.container {
    max-width: 1170px;
    margin: 0 auto;
}

.list_reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* header */

.header {
    margin-bottom: 50px;
    background-color: #3d3bff;
}


.header__container {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.header__select {
    font-size: 16px;
    margin-right: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.header__option {
    color: #fff;
}

.header__lk {
    display: inline-block;
    margin-left: auto;
}

/* main */

.find {
    margin-bottom: 20px;
}

.findInput {
    width: 70%;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.findButton {
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color: #3d3bff;
    color: #fff;
}

.findInput:focus-visible {
    outline: none;
}

.linkOptionsWrapper {
    display: flex;
    gap: 30px;
}

.linkOption {
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__item {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 30px 20px;
}

.item__imgWrapper {
    display: flex;
    align-self: center;
    margin-right: 20px;
}

.item__img {
    width: 100px;
    height: 100px;
}

.item__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.item__descr {
    color: #666;
}